/*=========*/
/* GENERAL */
/*=========*/
html {
  @include auto-scaling(375, 1440);
}

#content {
  padding-top: rem(112); // fixed header compensation
}

/*============*/
/* CONTAINERS */
/*============*/
.container {
  padding: 0 1rem;
  position: relative;
  margin: 0 auto;

  @include mq(desktop) {
    max-width: 82rem;
  }
}

.off-container {
  width: 100vw;
  position: relative;
  left: calc(-1 * (100vw - 100%) / 2);
}

.full-height {
  height: 100%;
}

/*===============*/
/* FLEX WRAPPERS */
/*===============*/
.flex {
  display: flex;
}

@include framework-rules('flex', (
  "property": (
    "-align": "align-items",
  ),
  "value": (
    "stretch": stretch,
    "center": center,
    "start": flex-start,
    "end": flex-end
  ),
  "breakpoints": ("md")
));

@include framework-rules('flex', (
  "property": (
    "-justify": "justify-content",
  ),
  "value": (
    "space-between": space-between,
    "space-around": space-around,
    "center": center,
    "start": flex-start,
    "end": flex-end
  ),
  "breakpoints": ("md")
));

@include framework-rules('flex', (
  "property": "flex-direction",
  "value": (
    "row": row,
    "row-reverse": row-reverse,
    "col": column,
    "col-reverse": column-reverse,
  ),
  "breakpoints": ("md")
));

/*=============*/
/* GRID SYSTEM */
/*=============*/
@include grid(12, rem($scalar), $breakpoints);
