html {
  @include auto-scaling(375, 1440);
}

#content {
  .header--sticky ~ & {
    padding-top: $header-height;
  }
}

.container {
  padding: 0 1rem;
  overflow: auto;
  position: relative;
  margin: 0 auto;

  @include mq(desktop) {
    max-width: 82rem;
  }
}
