/*=========*/
/* GENERAL */
/*=========*/
html {
  @include auto-scaling(375, 1440);
}

body {
  transition-property: opacity, visibility;
  transition-duration: $duration;

  &.hidden {
    opacity: 0;
    visibility: hidden;
  }
}

#content {
  padding-top: rem(112); // fixed header compensation
}

/*============*/
/* CONTAINERS */
/*============*/
.container {
  padding: 0 1rem;
  position: relative;
  margin: 0 auto;

  @include mq(desktop) {
    max-width: 82rem;
  }
}

.off-container {
  width: 100vw;
  position: relative;
  left: calc(-1 * (100vw - 100%) / 2);
}

.full-height {
  height: 100%;
}

/*=============*/
/* GRID SYSTEM */
/*=============*/
@include grid(12, rem($scalar), $breakpoints);

/*===============*/
/* FLEX WRAPPERS */
/*===============*/
.flex {
  display: flex;
}

@include framework-rules('flex', (
  "property": (
    "-align": "align-items",
  ),
  "value": (
    "stretch": stretch,
    "center": center,
    "start": flex-start,
    "end": flex-end
  ),
  "breakpoints": $breakpoints
));

@include framework-rules('flex', (
  "property": (
    "-justify": "justify-content",
  ),
  "value": (
    "space-between": space-between,
    "space-around": space-around,
    "center": center,
    "start": flex-start,
    "end": flex-end
  ),
  "breakpoints": $breakpoints
));

@include framework-rules('flex', (
  "property": "flex-direction",
  "value": (
    "row": row,
    "row-reverse": row-reverse,
    "col": column,
    "col-reverse": column-reverse,
  ),
  "breakpoints": $breakpoints
));

/*=================*/
/* UTILITY CLASSES */
/*=================*/
@include framework-rules('m', (
  "property": (
    "t": "margin-top",
    "b": "margin-bottom"
  ),
  "value": (
    0: 0,
    1: rem($scalar),
    2: rem($scalar * 2),
    3: rem($scalar * 3),
    4: rem($scalar * 4),
    5: rem($scalar * 5),
    6: rem($scalar * 6),
    7: rem($scalar * 7),
    8: rem($scalar * 8)
  ),
  "breakpoints": $breakpoints
));
