html {
  font-family: $font-default;
  font-variant-ligatures: none;
  text-size-adjust: none;
  text-rendering: optimizeLegibility;
  color: map-get($colors, 'text-dark');
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: inherit;
}
