html {
  text-size-adjust: none;
  text-rendering: optimizeLegibility;
  font-variant-ligatures: none;
  color: map-get($colors, 'text-dark');
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
