/*==========================*/
/* SIZES AND RESPONSIVENESS */
/*==========================*/
$breakpoints: (
  "sm": 768,
  "md": 1024,
  "lg": 1366,
  "xl": 1600
);

$md-breakpoints: map-merge($breakpoints, (
  "tablet": map-get($breakpoints, 'sm'),
  "desktop": map-get($breakpoints, 'md')
));

$scalar: 8;
$radius: 4;

/*===================*/
/* THEMES AND COLORS */
/*===================*/
$colors: (
  "primary": #235789,
  "primary-contrast": #F9F8EF,
  "secondary": #E7DFC6,
  "secondary-contrast": #393D3F,
  "tertiary": #DB5461,
  "tertiary-contrast": #F9F8EF,
  "text-dark": #393D3F,
  "text-light": #F9F8EF,
  "border": #B9BDBF,
  "success": #3D993D,
  "warning": #FFAB35,
  "error": #BF2E11,
  "cyan": #5BCEE5,
  "magenta": #FF3366,
  "yellow": #FFD24C,
  "black": #000000,
  "red": #B23F35,
  "green": #6B993D,
  "blue": #235789,
  "indigo": #242F40,
  "white": #FFFFFF,
  "ivory": #F9F8EF,
  "grey-light": #B9BDBF,
  "grey": #797D7F,
  "grey-dark": #393D3F,
  "onyx": #090D0F
);

/*============*/
/* TYPOGRAPHY */
/*============*/
$font-default: sans-serif;
$font-icons: 'icons';

/*============*/
/* ANIMATIONS */
/*============*/
$duration: .3s;

/*===============*/
/* MISCELLANEOUS */
/*===============*/
$shadow: 0 0 2em rgba(0, 0, 0, .2);
