/**
 * Preserves element aspect-ratio
 * @param int $width The natural element width 
 * @param int $height The natural element height 
 */
@mixin aspect-ratio($width, $height) {
  position: relative;

  &:before {
    display: block;
    width: 100%;
    padding-bottom: ($height / $width) * 100%;
    content: '';
  }
  
  & > * {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}