/*
 * A generator of functional css classes
 * @param $config The rules configuration map
 * @example
    @include framework-rules((
      "m": (
        "breakpoints": ("sm", "md", "lg"),
        "property": (
          "_": "margin",
          "t": "margin-top",
          "r": "margin-right",
          "b": "margin-bottom",
          "l": "margin-left",
        ),
        "value": (
          "0": 0,
          "1": #{$scalar}px,
          "2": #{$scalar * 2}px,
          "3": #{$scalar * 3}px,
          "4": #{$scalar * 4}px,
          "5": #{$scalar * 5}px,
          "6": #{$scalar * 6}px,
          "7": #{$scalar * 7}px,
          "8": #{$scalar * 8}px
        )
      )
    ));
 */
@mixin framework-rules($config) {
  @each $selector, $specs in $config {
    $-property: map-get($specs, 'property');
    $-breakpoints: map-get($specs, 'breakpoints');
    $-value: map-get($specs, 'value');
    @if type-of($-property) == 'map' {
      @each $prop-key, $prop-value in $-property {
        $-selector: if($prop-key == '_', $selector, $selector + $prop-key);
        @include framework-rules((
          "#{$-selector}": (
            "property": $prop-value,
            "breakpoints": $-breakpoints,
            "value": $-value
          )
        ));
      }
    } @else if type-of($-value) == 'map' {
      @each $mod, $value in $-value {
        $-selector: $selector + '-' + $mod;
        @include framework-rules((
          "#{$-selector}": (
            "property": $-property,
            "breakpoints": $-breakpoints,
            "value": $value
          )
        ));
      }
    } @else {
      #{'.' + $selector} {
        #{$-property}: $-value;
      }
      @if global-variable-exists('breakpoints') and mixin-exists('screen-query') and type-of($-breakpoints) == 'list' {
        @each $breakpoint in $-breakpoints {
          #{'.' + $breakpoint + ':' + $selector} {
            @include screen-query($breakpoint) {
              #{$-property}: $-value;
            }
          }
        }
      }
    }
  }
}