/*
 * A generator of functional css classes
 * @param $base-class The base rules class
 * @param $config The rules configuration map
 */
 @mixin framework-rules($base-class, $specs) {
  $-property: map-get($specs, "property");
  $-breakpoints: map-get($specs, "breakpoints");
  $-value: map-get($specs, "value");
  $-prefix: map-get($specs, "prefix");
  // generating basic rules
  @if type-of($-property) == "map" {
    @each $prop-key, $prop-value in $-property {
      $-base-class: if($prop-key == "_", $base-class, $base-class + $prop-key);
      @include framework-rules($-base-class, (
        "prefix": $-prefix,
        "property": $prop-value,
        "value": $-value
      ));
    }
  } @else if type-of($-value) == "map" {
    @each $mod, $value in $-value {
      $-base-class: if($-prefix, $-prefix + "\\:" + $base-class + "-" + $mod, $base-class + "-" + $mod);
      @include framework-rules($-base-class, (
        "property": $-property,
        "value": $value
      ));
    }
  } @else {
    #{"." + $base-class} {
      #{$-property}: $-value;
    }
  }
  // generating responsive rules
  @if global-variable-exists("breakpoints") {
    @if type-of($-breakpoints) == 'string' {
      $-breakpoints: append((), $-breakpoints);
    }

    @if type-of($-breakpoints) == "list" {
      @each $-key in $-breakpoints {
        $-size: map-get($breakpoints, $-key);
        @media screen and (min-width: #{$-size}px) {
          @include framework-rules($base-class, (
            "prefix": $-key,
            "property": $-property,
            "value": $-value
          ));
        }
      }
    }
  }
}
