/*
 * A generator of functional css classes
 * @param $config The rules configuration map
 * @example
    @include framework-rules("m", (
      "breakpoints": ("sm", "md", "lg"),
      "property": (
        "_": "margin",
        "t": "margin-top",
        "r": "margin-right",
        "b": "margin-bottom",
        "l": "margin-left",
      ),
      "value": (
        "0": 0,
        "1": 8px,
        "2": 16px,
        "3": 24px,
        "4": 32px,
        "5": 40px,
        "6": 48px,
        "7": 56px,
        "8": 64px
      )
    ));
 */

@mixin framework-rules($base-class, $specs) {
  $-property: map-get($specs, "property");
  $-breakpoints: map-get($specs, "breakpoints");
  $-value: map-get($specs, "value");
  $-prefix: map-get($specs, "prefix");
  // generating basic rules
  @if type-of($-property) == "map" {
    @each $prop-key, $prop-value in $-property {
      $-base-class: if($prop-key == "_", $base-class, $base-class + $prop-key);
      @include framework-rules($-base-class, (
        "prefix": $-prefix,
        "property": $prop-value,
        "value": $-value
      ));
    }
  } @else if type-of($-value) == "map" {
    @each $mod, $value in $-value {
      $-base-class: if($-prefix, $-prefix + "\\:" + $base-class + "-" + $mod, $base-class + "-" + $mod);
      @include framework-rules($-base-class, (
        "property": $-property,
        "value": $value
      ));
    }
  } @else {
    #{"." + $base-class} {
      #{$-property}: $-value;
    }
  }
  // generating responsive rules
  @if global-variable-exists("breakpoints") {
    @if type-of($-breakpoints) == 'string' {
      $-breakpoints: append((), $-breakpoints);
    }

    @if type-of($-breakpoints) == "list" {
      @each $breakpoint in $-breakpoints {
        @media screen and (min-width: #{map-get($breakpoints, $breakpoint)}px) {
          @include framework-rules($base-class, (
            "prefix": $breakpoint,
            "property": $-property,
            "value": $-value
          ));
        }
      }
    }
  }
}
