/**
 * Media query handler
 * @param $size The target breakpoint
 * @param $op The query operator
 * @param $ensure Defines if content rules should be appended on error
 */
 @mixin screen-query($size, $op: '>=', $ensure: false) {
  $breakpoint: null;
  // normalizing target breakpoint
  @if type-of($size) == 'number' {
    @if not unitless($size) {
      $breakpoint: $size / ($size * 0 + 1);
    } @else {
      $breakpoint: $size;
    }
  } @else if global-variable-exists('breakpoints') {
    $breakpoint: map-get($breakpoints, $size);
  }
  // handling content rules
  @if $breakpoint {
    // setting operator fallback
    @if index(('<', '<=', '>=', '>'), $op) == null {
      $op: '>=';
    }
    // defining query direction and adjusting breakpoint
    $dir: 'min';

    @if $op == '<' or $op == '<=' {
      $dir: 'max';

      @if $op == '<' {
        $breakpoint: $breakpoint - 1;
      }
    } @else if $op == '>' {
      $breakpoint: $breakpoint + 1;
    }
    // defining media query
    @media screen and (#{$dir}-width: #{$breakpoint}px) {
      @content;
    }
  } @else if $ensure {
    @content;
  }
}

/**
 * Creates a responsive auto-scaling system
 * @param int $mobileNaturalSize The natural size of mobile design
 * @param int $desktopNaturalSize The natural size of desktop design
 * @param list $mobileBreakpoints The list of mobile scaling breakpoints
 * @param list $desktopBreakpoints The list of desktop scaling breakpoints
 */
 @mixin auto-scaling(
  $mobileNaturalSize: 320,
  $desktopNaturalSize: 1024,
  $mobileBreakpoints: (320, 375, 414, 640, 768, 992),
  $desktopBreakpoints: (1024, 1152, 1280, 1366, 1440, 1600, 1920, 2560)
) {
  @each $breakpoint in $mobileBreakpoints {
    @include screen-query($breakpoint) {
      font-size: #{floor($breakpoint * 100 / $mobileNaturalSize) + '%'};
    }
  }

  @each $breakpoint in $desktopBreakpoints {
    @include screen-query($breakpoint) {
      font-size: #{floor($breakpoint * 100 / $desktopNaturalSize) + '%'};
    }
  }
}
