.button {
  @extend %button;
  padding: rem($scalar) rem($scalar * 2);
  border: solid 1px currentColor;
  font-size: rem($scalar * 1.75);
  transition-property: background-color, border-color, color, opacity;
  transition-duration: $duration;
}

.button--disabled,
.button[disabled] {
  opacity: .5;
  pointer-events: none !important;
}

.button__label {
  flex-grow: 1;
  text-transform: uppercase;
  text-align: center;
}
