/*=========*/
/* VENDORS */
/*=========*/
@import '../../node_modules/minireset.css/minireset.css';
@import '../../node_modules/@fiad/design-system/';

/*========*/
/* GLOBAL */
/*========*/
@import 'global/variables';
@import 'global/typography';
@import 'global/layout';

/*============*/
/* COMPONENTS */
/*============*/
@import 'components/header';
@import 'components/footer';

/*=======*/
/* PAGES */
/*=======*/
@import 'pages/homepage';
