%button {
  appearance: none;
  display: inline-flex;
  padding: 0;
  position: relative;
  align-items: center;
  margin: 0;
  border: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
}
