%icon {
  display: inline-block;
  font-size: 1em;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  text-transform: none;
  text-align: center;
  text-decoration: inherit;
  speak: none;
}
