/*=========*/
/* VENDORS */
/*=========*/
@import 'sass-mq';
@import 'minireset.css';
@import '@fiad/design-system';

/*========*/
/* GLOBAL */
/*========*/
@import 'global/variables';
@import 'global/helpers';
@import 'global/typography';
@import 'global/layout';

/*============*/
/* COMPONENTS */
/*============*/
@import 'components/header';
@import 'components/footer';

/*=======*/
/* PAGES */
/*=======*/
@import 'pages/homepage';
