/*=========*/
/* VENDORS */
/*=========*/
@import 'sass-mq';
@import 'minireset.css';
@import '@fiad/design-system';

/*========*/
/* GLOBAL */
/*========*/
@import 'global/variables';
@import 'global/typography';
@import 'global/unsupported';
@import 'global/layout';

/*============*/
/* COMPONENTS */
/*============*/
@import 'components/icon';
@import 'components/field';
@import 'components/button';
@import 'components/header';
@import 'components/footer';
@import 'components/cookies-banner';

/*=======*/
/* PAGES */
/*=======*/
@import 'pages/homepage';
